drumKit{
    display: block;
    width:860px;
    height:730px;
    border: 1px solid black;
}

.st0{fill:#939393;stroke:#666666;stroke-width:5;stroke-miterlimit:10;}
	.st1{fill:none;stroke:url(#SVGID_1_);stroke-miterlimit:10;}
	.st2{fill:#666666;}
	.st3{fill:none;stroke:#000000;stroke-miterlimit:10;}
	.st4{fill:none;stroke:url(#SVGID_00000070080220822261412740000017067370026079015863_);stroke-miterlimit:10;}
	.st5{fill:none;stroke:url(#SVGID_00000039832099350447106180000001020577330688791194_);stroke-miterlimit:10;}
	.st6{fill:none;stroke:url(#SVGID_00000119083724607953132350000001994292239062758314_);stroke-miterlimit:10;}
	.st7{fill:url(#SVGID_00000098221662460846087310000009395180740118665091_);}
	.st8{fill:url(#SVGID_00000085959285764990369260000001574995283653946024_);}
	.st9{fill:url(#SVGID_00000012438036939607134190000007363188463344857764_);}
	.st10{fill:url(#SVGID_00000077319621270551157330000013717309433678010765_);}
	.st11{fill:url(#SVGID_00000100346800120806299650000000952487934817444267_);}
	.st12{fill:url(#SVGID_00000020382042184905277630000017460240271489899190_);}



#Drum3:hover .cy1,
#Drum2:hover .cy1,
#Drum1:hover .cy1{
    fill: rgba(31, 31, 31, 0.5) !important;
    
}

    #Drum7:hover .st1,
#Drum4:hover .st1,
#Drum5:hover .st1,
#Drum6:hover .st1
{
    fill: rgb(115, 116, 116);
}

#Drum7:active,
#Drum4:active,
#Drum5:active,
#Drum6:active {
    animation: drum 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes drum {
    10%, 90% {
        transform: translate3d(-2px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(4px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-8px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(8px, 0, 0);
      }
}